if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
fi

# Write the project root so devenv can find it in pure eval mode.
if [ ! -f .devenv/devenv.root ]; then
  mkdir -p .devenv
  printf %s "$PWD" > .devenv/devenv.root
fi

nix_direnv_manual_reload
use flake . --impure --override-input devenv-root "file+file://"$(readlink -f .devenv/devenv.root)
